[Unit]
Description=JADE's distributed currency daemon
After=network.target

[Service]
User=jade
Group=jade

Type=forking
PIDFile=/var/lib/jaded/jaded.pid

ExecStart=/usr/bin/jaded -daemon -pid=/var/lib/jaded/jaded.pid \
          -conf=/etc/jade/jade.conf -datadir=/var/lib/jaded

ExecStop=-/usr/bin/jade-cli -conf=/etc/jade/jade.conf \
         -datadir=/var/lib/jaded stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
